<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a User</title>
  </head>
  <body>
    <h1>Create a User</h1>
    <form action="/users/new" method="POST">
      <label for="first">First Name</label>
      <input
        type="text"
        name="first"
        id="first"
        placeholder="Enter a first name"
      />
      <label for="last">Last Name</label>
      <input
        type="text"
        name="last"
        id="last"
        placeholder="Enter a last name"
      />
      <label for="image">Image URL</label>
      <input
        type="text"
        name="image"
        id="image"
        placeholder="Provide an image of this user"
      />
      <button>Add</button>
    </form>
    <a href="/users">Back to users</a>
  </body>
</html>
